@charset "UTF-8";

:root {
    --color01: #FBDFED;
    --color02: #88ddfc;
    --color03: #F8CEE4;
    --font-color01: white;
    --shadow01: rgba(0, 0, 0, 0.050);
    --shadow02: rgba(0, 0, 0, 0.100);
    --shadow03: rgba(0, 0, 0, 0.200);
    --main-font: Arial, Helvetica, sans-serif;
}


/*login and register*/
main.login {
    padding: 1rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

main.login .no-show{
    display: none;
}


main.login section.login-container {
    background-color: var(--font-color01);
    width: clamp(250px, 50%, 390px);
    padding: 10px;
    border-radius: 1.5em;

    display: flex;
    flex-flow: column-reverse;
    justify-content: space-between;
}

main.login section.login-container input[type="checkbox"] {
    display: none;
}
main.login section.login-container input#change-button + label {
    padding: 5px;
    margin: 40px 0 5px 0;
    align-self: center;
    cursor: pointer;
}

main.login section.login-container input#change-button + label:hover {
    color: var(--color02);
}


/*
Change login and register
*/
main.login section.login-container section.register {
    display: none;
}

main.login section.login-container input.change-button + label::after {
    content: "Cadastre-se";
}
main.login section.login-container input.change-button:checked + label::after {
    content: "Login";
}

main.login input#change-button:checked ~ section.login {
    display: none;
}
main.login input#change-button:checked ~ section.register {
    display: grid;
}
/*Change login and register*/


main.login section.login-container section {
    display: grid;
    grid-template: 5em 1fr/ 60%;
    justify-content: center;
}


main.login h2 {
    font-size: clamp(1.5em, 5vw, 2em);
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    cursor: context-menu;
}

main.login form {
    padding: 5px;
    display: flex;
    flex-flow: column nowrap;
}

main.login form > label::after {
    content: ":";
}

main.login input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="date"] {
    cursor: text;
}

main.login form input, select {
    background-color: var(--shadow01);
    margin: 0 0 10px 0;
    padding: 5px;
    border-radius: .5em;
}

main.login form div.remember input + label::before {
    color: transparent;
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: .8em;
    line-height: 1.1em;
    content: "✓";
    text-align: center;
    border: 1px solid black;
    margin-right: 10px;
}

main.login form div.remember input:checked + label::before {
    background-color: var(--color02);
    color: var(--font-color01);
}

main.login form button.submit-button {
    background-color: var(--color01);
    margin: 15px 0;
    padding: 10px;
    border-radius: .5em;
}

main.login form button.submit-button:hover {
    background-color: var(--color03);
    color: var(--font-color01);
}

