@charset "UTF-8";

:root {
    --color01: #FBDFED;
    --color02: #88ddfc;
    --color03: #F8CEE4;
    --font-color01: white;
    --main-font: Arial, Helvetica, sans-serif;
}


/*index*/
main.index {
    color: var(--font-color01);
    display: flex;
    align-items: center;
}

main.index section {
    background-color: rgba(0, 0, 0, 0.100);
    margin-left: 30px;
    padding: 10px;
    border-radius: 20px;
}

main.index h1 {
    font-size: clamp(35px, 9vw, 70px);
}


