@charset "UTF-8";

:root {
    --color01: #FBDFED;
    --color02: #88ddfc;
    --color03: #F8CEE4;
    --font-color01: white;
    --shadow01: rgba(0, 0, 0, 0.050);
    --shadow02: rgba(0, 0, 0, 0.100);
    --shadow03: rgba(0, 0, 0, 0.200);
    --main-font: Arial, Helvetica, sans-serif;
}


/*
Index
*/
main.index {
    color: var(--font-color01);
    padding: 1rem 0;

    display: flex;
    align-items: center;
}

main.index section {
    background-color: var(--shadow02);
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
}

main.index h1 {
    font-size: clamp(35px, 9vw, 70px);
}
/*Index*/



/*
About
*/
main.about div.page {
    background-color: var(--font-color01);
    width: calc(100% - 60px);
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;

    text-align: justify;
    line-height: 1.5em;
}

main.about h1, h2 {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: capitalize;
    font-variant: small-caps;
    padding: 1em 0;
}

main.about h1 {
    font-size: 1.5em;
}

main.about p {
    text-indent: 1.5em;
    padding: .5em 0;
}
/*About*/














/*
Details
*/
main.details div.page {
    background-color: var(--font-color01);
    width: calc(100% - 60px);
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;
    text-align: justify;
    line-height: 1.5em;
}

main.details h1, h2 {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: capitalize;
    font-variant: small-caps;
    padding: 1em 0;
}

main.details h1 {
    font-size: 1.5em;
}

main.details p {
    text-indent: 1.5em;
    padding: .5em 0;
}

main.details article section{
    display: flex;
    flex-flow: column;
}

main.details picture {
    margin: 0 auto;
}

main.details img {
    width: 100%;
    max-width: 600px;
}
/*Details*/




















/*landscape*/
@media screen and (min-aspect-ratio: 115/100) {
    main.index section {
        margin: 0 0 0 30px;
    }
}






